@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rock+3D&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#fc9311;
    --secondary-color:#f6f6f6;
    --font-titles: 70px;
    --font-subtitles: 32px;
    --primary-tip:font-family: "Slackside One", cursive; font-weight: 400; font-style: normal;
    --secondary-tip: font-family: "Rock 3D", system-ui;font-weight: 400;font-style: normal;
}

#cont-general{
    width: 100%;
    min-height: 100vh;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont-calculadora{
    width: 500px;
    height: 660px;
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 40px;
    border-color: transparent;
    border-radius: 45px;
    background: #ebecf2;
    box-shadow: 9px 8px 6px #cccdd3;
}

#cont-escritura{
    width: 100%;
    padding: 20px;
    
}

#cont-escritura input{
    width: 100%;
    font-size: var(--font-titles);
    border: transparent;
    background: none;
    text-align: right;
}

#cont-botones{
    width: 100%;
    display:flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.btn{
    width: 22%;
    padding: 20px;
    font-size: var(--font-subtitles);
    margin-bottom: 20px;
    width: 22%;
    -webkit-border-radius: 40px;
    border-color: transparent;
    border-radius: 20px;
    background: #ebecf2;
    box-shadow:  5px 5px 6px #cccdd3, -5px -8px 6px #ffffff, -2px -3px 6px #cccdd3, -5px -8px 6px #ffffff;
    border: 2px solid #8b8b8b;
}

.btn.doble{
    width: 48%;
}

#btn-color{
    color: var(--primary-color);
}

#cero{
    text-align: left;
}

/* Style Button Dark */

#modo{
    margin-top: 30px;
    background: #000000;
    border: none;
    color: #ffffff;
    width: 180px;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
}